
html{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

body{
    font-family: Roboto;
    font-size: 16px;
    color: #424242;
    margin: 10px 10px;
}
h1, h2, h3, h4, h5 {
  margin: 0; 
}

body,header, nav, footer, section, article, div {
  box-sizing: border-box;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
    max-width: 100%;
}
/*
 *
 * Top
 *
 */
.top{
    max-width: 800px;   
    margin: 0 auto; 
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    
    justify-content: space-between;
    border-bottom: 4px solid #bcbbbb;
    margin-bottom: 10px;
}

/*
 *
 * Top header
 *
 */
.header{
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row;
}
.logo{
    width: 88px;
}
.header img{
    height:80px;
}
.author{
    display: inline-block;
}
.name{
    margin: 10px 0;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav{
    width:50%;
    margin:0 auto;
    margin-top: 60px;
}
.nav__list{
    width:100%;
    padding: 0;
    margin: 0;
    text-align:right;
}
.nav__item{
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    line-height: 24px;
    text-align: center;
}

/*
 *
 * Main
 *
 */

.main{
    max-width: 800px;   
    margin: 0 auto;  
}
.hero{
    margin-bottom: 10px;
}
.feature{
    margin-bottom: 10px;
}
.works {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.work{
    text-align: center;
    margin-bottom: 10px;
}
